@use 'sass:math';
// font
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$times: inherit;

// font-size en px
$fs: 10px;
$fs-xs: 1.2rem;


//font nav bar
$nav-fs: $fs-xs;
$nav-ff: $roboto;
$nav-fw: 900;
$nav-inset: -0.3rem;
$nav-pad-top: 0;
$nav-pad-bottom: $nav-inset * -1;
$nav-pad-horizontal: 0.5rem;
$nav-height: 2.4rem;

// home 
$home-pad-top: 0.3rem;
$home-pad-bottom: 0; 
$home-pad-horizontal: 0;

//logo
$logo-width: $nav-fs;
$logo-height: $logo-width;

//name
$name-pad-left: 0.3rem;

//hamburger
/*----hauteur ligne home----*/
$home-line-height-text: 1.5 * $nav-fs;
/*--------------------------*/
/*-----textburger------*/
$texburger-pad-horizontal: 0.2rem;
/*---------------------*/
$burger-height: $home-line-height-text + 0.3rem;
$burger-width: $burger-height + $texburger-pad-horizontal;
$burger-text: math.div($nav-fs, 1.9);
$burger-pad-top: $home-pad-top ;
$burger-pad-bottom: $home-pad-bottom;
$burger-pad-horizontal:$home-pad-horizontal;

//hamburger before-after
$hamburger-height: 0.3rem;
$hamburger-radius: 1rem;
$hamburger-before-top: calc(50% + $burger-pad-top - $burger-text - 0.3rem);
$hamburger-after-bottom: calc(50% - $burger-text - 0.3rem);

//list-wrapper
$list-wrapper-min-height: 120px;

//list
$list-width: $fs-xs * 11;
$list-heigth: $list-width;


// screen
$screen-width-xs: 'min-width:150px';

// header-presentation
$h1: $fs-xs;


