@use '../../1utils/index' as *;
@use '../../2vendors/index' as *;
@use '../../3bases/index' as *;

/*------header-presentation--------------*/
.header {
  &-presentation {
    position: relative;
    padding: 1rem;
    background-color: lighten($grey, 10%);
  }

  //&-major {
    //font-size: $fs-xs;
  //}

  &-title {
    font-size: $h1;
    text-transform: uppercase;
  }

  &-description {
    padding: 0.7rem 0;
    font-weight: 700;
  }

  &-business {
    padding: 0.2rem;
    background-color: white;
    border: 0.2rem solid darken($grey, 30%);
    border-radius: 0.5rem;
    & picture {
      display: block;
      width: 100%;
      height: 100%;
    }

    & source,
    & img {
      display: block;
      border-radius: 0.2rem 0.2rem 0 0;
    }
    & figcaption {
      display: block;
      margin-top: 0.2rem;
      border-top: 0.1rem solid darken($grey, 10%);
      font-size: 0.8 * $fs-xs;
      font-weight: 400;
      
    }
    & figcaption p {
      padding: 0;
    }
    & figcaption p:last-child {      
      line-height: 1rem;
      font-size: 0.7 * $fs-xs;
    }
  }
  &-chapter {
    font-weight: 400;
    & li {
      padding-top: 0.7rem;
    }
  }
}