@use '../../1utils/index' as *;
@use '../../2vendors/index' as *;
@use '../../3bases/index' as *;

.header {
  &-presentation {
    position: relative;
    background-color: lighten($grey, 10%);
    padding: 1rem;
  }

  &-major {
    font-size: $fs-xs;
  }

  &-title {
    text-transform: uppercase;
    font-size: $h1;
  }

  &-description {
    font-weight: 700;
    padding: 0.7rem 0;
  }

  &-business {
    padding: 0.2rem;
    border: 0.2rem solid darken($grey, 30%);
    border-radius: 0.5rem;
    background-color: white;
    & picture {
      width: 100%;
      height: 100%;
      display: block;
    }

    & source,
    & img {
      display: block;
      border-radius: 0.2rem 0.2rem 0 0;
    }
    & figcaption {
      display: block;
      margin-top: 0.2rem;
      font-size: 0.8 * $fs-xs;
      font-weight: 400;
      border-top: 0.1rem solid darken($grey, 10%);
      
    }
    & figcaption p:nth-child(2) {
      font-size: 0.5 * $fs-xs;
      line-height: 1rem;
    }
  }
  &-chapter {
    font-weight: 400;
    & li {
      padding-top: 0.7rem;
    }
  }
}