@use '../../1utils/index' as *;
@use '../../2vendors/index' as *;
@use '../../3bases/index' as *;


.header {
  &-nav {
    position: relative;
    @extend %flex-spabet-center;
    padding: $nav-pad-top $nav-pad-horizontal $nav-pad-bottom $nav-pad-horizontal;
    background-color: $orange;
    box-shadow: inset 0 $nav-inset $black;
    @include font($nav-ff, $nav-fw);
    font-size: $nav-fs;
  }
  &-home{
    @extend %flex-spabet-center;
    padding: $home-pad-top $home-pad-horizontal $home-pad-bottom $home-pad-horizontal;
  }
  &-logo {    
    @include rectangle($logo-width, $logo-height);
  }
  &-name {
    padding-left: $name-pad-left;
    white-space: nowrap;
  }  
}

#burger {
  position: absolute;
  top: 100%;
  left: 0;
  translate: -100% 0;
 
}

.header {
  &-hamburger {
    position: relative;
    @extend %flex-center-center;
    @include rectangle($burger-width, $burger-height);
    line-height: 1rem;
    &::before {
      @extend %before-after;
      top: $hamburger-before-top;
      left: 0;
      @include roundedrectangle(100%, $hamburger-height, $hamburger-radius);
      background-color: $black;
    }
    &:after {
      @extend %before-after;
      bottom: $hamburger-after-bottom;
      left: 0;
      @include roundedrectangle(100%, $hamburger-height, $hamburger-radius);
      background-color: $black;
    } 
  }
  &-textburger {
    font-size: $burger-text;
    padding: $burger-pad-top $texburger-pad-horizontal $burger-pad-bottom $texburger-pad-horizontal;
    text-transform: uppercase;
    opacity: 1; 
  }  
}


#burger {
  &:checked + .header-hamburger::before {
    @include transform-burger-x ($rotate: -45deg); 
    transition: all 0.3s ease-in-out
  }
  &:checked + .header-hamburger::after {
    @include transform-burger-x; 
    transition: all 0.3s ease-in-out
  }
  &:checked + .header-hamburger > .header-textburger {
    color: $black;
    opacity: 0;
    transform: rotate(90deg) scale(0);
    transition: transform 0.6s ease-in-out, opacity 0.5s ease;
  }   
}